.itemanimated {
  animation: animate 1s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    width: 2%;
  }
  100% {
    width: 100%;
  }
}
